<div id="cookie-banner" class="cookie-banner hidden">
  <p>
    Utilizamos cookies ou tecnologias semelhantes de acordo com a nossa
    <a href="/politica-de-privacidade">Política de Privacidade</a>,
    e, ao continuar navegando, você concorda com estas condições.
  </p>

  <button id="accept-cookies">Concordo</button>
</div>

<script>
  const banner = document.getElementById("cookie-banner");
  const button = document.getElementById("accept-cookies");

  const accepted = localStorage.getItem("cookiesAccepted");

  // aparanha o banner se ainda não aceitou
  if (!accepted) {
    requestAnimationFrame(() => {
      banner.classList.remove("hidden");
      banner.classList.add("show");
    });
  }

  button?.addEventListener("click", () => {
    localStorage.setItem("cookiesAccepted", "true");

    banner.classList.remove("show");
    banner.classList.add("hide");

    // REMOVER o banner após aceitar
    setTimeout(() => {
      banner.remove();
    }, 300);
  });
</script>

<style>
  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background: #6d7880;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 14px 24px;
    z-index: 9999;

    font-size: 15px;
    text-align: center;

    transition:
      opacity 1s ease,
      transform 1s ease;
  }

  .cookie-banner p {
    margin: 0;
  }

  .cookie-banner a {
    color: var(--primary-blue);
    font-weight: 600;
    text-decoration: none;
  }

  .cookie-banner button {
    background: var(--primary-blue);
    color: var(--primary-white);

    border: none;
    border-radius: 999px;

    padding: 10px 22px;
    cursor: pointer;

    font-weight: 600;
  }

  /* initial hidden state */
  .hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }

  /* fade in */
  .show {
    opacity: 1;
    transform: translateY(0);
  }

  /* fade out */
  .hide {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }

  @media (max-width: 768px) {
    .cookie-banner {
      flex-direction: column;
      gap: 12px;
      padding: 10px 0px;
    }
  }
</style>