---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Mensagem Enviada com Sucesso">
    <div class="hero">
        <p class="white-hero">Mensagem Enviada com Sucesso</p>
</Layout>



<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        background-color: var(--primary-blue);
    }

</style>