---
import Layout from '../layouts/Layout.astro';
import '../style/contactStyle.css';
---

<Layout title="Política de Cookies - CSM TEC">
<div class="contact-banner">
    <div class="contact-banner-content">
        <p class="white-hero">Política de Cookies</p>
    </div>
</div>

<div class="conformidade-section">
    <div class="conformidade-content">

        <section class="conformidade-center">
           <p class="blue-sub-title">1</p>
           </section>






    </div>
</div>  

</Layout>

