---
import Layout from '../layouts/Layout.astro';
import '../style/contactStyle.css';
---

<Layout title="Política de Privacidade - CSM TEC">
<div class="contact-banner">
    <div class="contact-banner-content">
        <p class="white-hero">Política de Privacidade</p>
    </div>
</div>

<div class="conformidade-section">
    <div class="conformidade-content">

        <section>
           <p class="blue-sub-title">Última Atualização: 29.08.2025</p>
           <p class="dark-fullbody-text">POR FAVOR, LEIA ATENTAMENTE ESTA POLÍTICA ANTES DE UTILIZAR OS SERVIÇOS DA CSM TECNOLOGIA E O PROJETO O BOM DOUTOR</p>
           <p class="dark-fullbody-text">Para utilizar os nossos Serviços, você deve ter pelo menos 18 anos de idade ou ter o consentimento explícito de um dos pais ou responsável legal.</p>
        </section>

        <section>
            <p class="black-sub-title">1. INTRODUÇÃO</p>
            <p class="dark-fullbody-text">A <span class="bold-text">CSM Tecnologia e Gestão S.A.</span> (doravante denominada <span class="bold-text">“CSM”</span> ou <span class="bold-text">“nós”</span>) valoriza a <span class="bold-text">transparência, a segurança e a privacidade</span> dos dados pessoais tratados em seus serviços e plataformas digitais, incluindo o projeto <span class="bold-text">“O Bom Doutor”</span>.</p>
            <p class="dark-fullbody-text">Esta Política de Privacidade tem como finalidade informar, de forma clara e acessível, como seus dados pessoais são <span class="bold-text">coletados, utilizados, compartilhados e protegidos</span>, em conformidade com a <span class="bold-text">Lei Geral de Proteção de Dados Pessoais (Lei nº 13.709/2018 – LGPD)</span>.</p>  
            <p class="dark-fullbody-text">Esta Política de Privacidade, juntamente com os <span class="bold-text">Termos de Uso</span> disponíveis em <a href="/termos-de-uso">https://csmtec.com.br/termos-de-uso</a>, a nossa <span class="bold-text">Política de Cookies</span> disponível em <a href="https://csmtec.com.br/politica-de-cookies">https://csmtec.com.br/politica-de-cookies</a>, e quaisquer outros documentos referenciados nesses instrumentos, constitui a base legal sobre a qual realizamos a coleta e o tratamento de dados pessoais fornecidos por você ou obtidos por meio da sua interação com os nossos Serviços.</p>
            <p class="dark-fullbody-text">Recomendamos que você leia atentamente esta Política para compreender:</p> 
            <ol>
                <li class="dark-fullbody-text">Quais dados pessoais coletamos;</li>
                <li class="dark-fullbody-text">Como utilizamos esses dados;</li>
                <li class="dark-fullbody-text">Em que situações podemos compartilhá-los com terceiros;</li>
                <li class="dark-fullbody-text">Quais são os seus direitos como titular dos dados.</li>
                <li class="dark-fullbody-text">Ao utilizar as plataformas administradas e oferecidas pela CSM, seja por meio do <span class="bold-text">aplicativo móvel (App)</span>, do <span class="bold-text">nosso website</span> ou por qualquer outro <span class="bold-text">produto, serviço ou interface digital</span> fornecida pela CSM (em conjunto denominados “<span class="bold-text" style="text-decoration: underline;">Serviços</span>”) – você <span class="bold-text">reconhece</span> e, quando aplicável, <span class="bold-text">consente</span> com as atividades de tratamento de dados pessoais descritas nesta Política de Privacidade.</li>
            </ol>
        </section>

        <section>
            <p class="black-sub-title">2. QUEM SOMOS</p>
            <p class="dark-fullbody-text">Somos uma empresa especializada no <span class="bold-text">desenvolvimento de operações inovadoras por meio da tecnologia</span>, com foco nos setores de <span class="bold-text">saúde e educação</span>. Nosso propósito é oferecer soluções que promovam a melhoria contínua dos serviços nessas áreas, priorizando a <span class="bold-text">qualidade, a eficiência e a excelência operacional.</span></p>
            <p class="dark-fullbody-text">A <span class="bold-text">CSM</span>, com sede na <span class="bold-text">Avenida Paulista, 1471, sala 1110, Bela Vista, São Paulo/SP – CEP 01.311-927</span>, inscrita no <span class="bold-text">CNPJ nº 55.196.025/0001-02</span>, atua como <span class="bold-text">controladora e, em determinadas situações, atuar também como operadora</span> dos dados pessoais tratados no âmbito de seus serviços, produtos e plataformas digitais.</p>  
            <p class="dark-fullbody-text">Quaisquer questões, comentários e solicitações com respeito a esta Política de Privacidade são bem-vindos e deverão ser enviados através do formulário de contato disponível neste link: <a href="/formulario-de-requisicao-de-direitos-do-titular-de-dados-pessoais/">acessar link</a>.</p>
            <p class="dark-fullbody-text">Para dúvidas ou solicitações relacionadas a esta Política de Privacidade, entre em contato com o nosso <span class="bold-text">Encarregado pelo Tratamento de Dados Pessoais</span>, Lucas Souza de Azevedo (doravante denominado “<span class="bold-text" style="text-decoration: underline;">DPO</span>”), por meio do e-mail: <a href="mailto:dpo@csmtec.com.br">dpo@csmtec.com.br</a>.</p>  
        </section>

        <section>
            <p class="black-sub-title">3. ABRANGÊNCIA</p>
            <p class="dark-fullbody-text">Esta política se aplica a todos os usuários dos serviços e plataformas da CSM, incluindo o App, Website e Núcleos de Atendimento, bem como às atividades internas de tratamento de dados pessoais.</p>
        </section>

        <section>
            <p class="black-sub-title">4. DESCRIÇÃO GERAL DO TRATAMENTO DE DADOS RELACIONADOS AOS SERVIÇOS</p>
            <p class="dark-fullbody-text">Antes de começar a utilizar os nossos Serviços, você deverá confirmar que leu atentamente a nossa Política de Privacidade e que dá o seu consentimento para que a CSM, por meio de seus projetos, trate os dados pessoais, inclusive sensíveis (Art. 5, II da LGPD), que você fornece, de modo que lhe sejam oferecidas funcionalidades de saúde, informações e possíveis direcionamentos.</p>
            <p class="dark-fullbody-text">Esta Seção 4 tem por objetivo fornecer-lhe uma visão geral das atividades de tratamento de dados relacionadas com os Serviços que lhe prestamos. No caso de você desejar ler uma descrição detalhada da totalidade das atividades de tratamento de dados que realizamos, recomendamos a leitura da Seção 5, que se segue, referente a cada uma das atividades de tratamento de dados, e as Seções 6 a 10, referentes ao seguinte:</p>
            <ul>
                <li class="dark-fullbody-text">À nossa política de cookies e rastreamento (Seção 6);</li>
                <li class="dark-fullbody-text">Ao local onde armazenamos os seus dados pessoais (Seção 7);</li>
                <li class="dark-fullbody-text">Às situações em que poderemos divulgar os seus dados pessoais (Seção 8);</li>
                <li class="dark-fullbody-text">À nossa política de retenção (Seção 9);</li>
                <li class="dark-fullbody-text">Aos seus direitos de titular dos dados (Seção 10).</li>
            </ul>
            <section>
                <p class="black-sub-title">4.1. Informações fornecidas por você</p>
                <p class="dark-fullbody-text">Poderemos coletar e tratar os dados pessoais que você nos fornece voluntariamente, como por exemplo:</p>
                <ul>
                    <li class="dark-fullbody-text">Ao preencher formulários no site, se candidatar a vagas, registrar-se em nossos Serviços ou entrar em contato por qualquer canal;</li>
                    <li class="dark-fullbody-text">Ao assinar newsletters, aceitar comunicações promocionais ou participar de pesquisas;</li>
                    <li class="dark-fullbody-text">Ao utilizar os Serviços (App, Website e/ou Núcleo de Atendimento);</li>
                    <li class="dark-fullbody-text">Ao relatar problemas, enviar feedbacks ou preencher pesquisas para melhoria contínua (participação opcional).</li>
                </ul>
                <p class="dark-fullbody-text">Esses dados podem incluir: nome completo, CPF, gênero, data de nascimento, e-mail, telefone, localização, informações de saúde (sintomas, histórico médico, alergias, medicamentos, resultados de exames, vacinação), hábitos de vida (tabagismo, sedentarismo), dados de plano de saúde (opcional) e demais dados necessários à prestação dos Serviços.</p>
            </section>
            <section>
                <p class="black-sub-title">4.2 Informações coletadas automaticamente</p>
                <p class="dark-fullbody-text">Mesmo sem identificá-lo diretamente (exceto quando autorizado ou necessário), poderemos coletar:</p>
                <ul>
                    <li class="dark-fullbody-text">Dados de uso: informações técnicas do dispositivo, como modelo, sistema operacional, identificadores únicos e dados de rede móvel; navegação (URL, data e hora, termos pesquisados, sintomas informados).</li>
                    <li class="dark-fullbody-text">Dados analíticos: endereço IP, sistema operacional, tipo de navegador, app store de origem, duração de visitas, interações com páginas (rolagens, cliques, gestos).</li>
                </ul>
            </section>
            <section>
                <p class="black-sub-title">4.3. Dados de terceiros fornecidos por você</p>
                <p class="dark-fullbody-text">Se você utilizar nossos Serviços em nome de terceiros (ex.: dependentes), será responsável por garantir que obteve autorização expressa dessas pessoas antes de compartilhar os dados. Todas as referências nesta Política aos “seus dados” também se aplicam a esses terceiros, desde que sob sua responsabilidade.</p>
            </section>
            <section>
                <p class="black-sub-title">4.4. Serviços de terceiros</p>
                <p class="dark-fullbody-text">Nosso Website e App podem conter links para plataformas de terceiros. Esses ambientes possuem suas próprias políticas de privacidade, pelas quais a CSM não se responsabiliza. Recomendamos a leitura cuidadosa dessas políticas antes de fornecer qualquer dado pessoal fora do nosso ambiente digital.</p>
            </section>
        </section>

        <section>
            <p class="black-sub-title">5. QUAIS OS DADOS PESSOAIS QUE PODEREMOS COLETAR E TRATAR, POR QUE MOTIVO E POR QUANTO TEMPO.</p>
            <p class="dark-fullbody-text">A seguir, detalhamos as atividades de tratamento de dados, os tipos de dados envolvidos, as finalidades, as bases legais (conforme a LGPD) e os períodos de armazenamento.</p>
            <section>
                <p class="black-sub-title">5.1. Ao utilizar o nosso Website, App ou Núcleo de Atendimento (Dados de Navegação e Uso Básico)</p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> O endereço IP do dispositivo requerente, data e hora do acesso, nome e URL do arquivo requerido (“URL de referência”), browser/aplicativo utilizado e, quando aplicável, o sistema operacional do seu dispositivo e a identidade do seu provedor de acesso.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Utilizamos os dados supracitados para lhe fornecer acesso ao nosso Website/App e Núcleo de Atendimento, assegurar que o Website/App e Núcleo de Atendimento conseguem estabelecer uma conexão de internet com fluidez e sejam de fácil utilização, para analisar a segurança e estabilidade do sistema, bem como para fins administrativos adicionais.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Legítimo Interesse (Artigo 7, IX da LGPD) e Execução de Contrato ou de procedimentos preliminares relacionados a contrato (Artigo 7, V da LGPD). Nosso legítimo interesse baseia-se nas finalidades de coleta de dados listadas em “Finalidade do tratamento”. Você não é obrigado a fornecer os dados pessoais supracitados, porém, não conseguirá acessar o Website/App e consequentemente o Núcleo de Atendimento se tais dados pessoais não forem fornecidos.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> A duração do armazenamento dos seus dados para esta finalidade corresponde ao período de tratamento de acordo com a Seção 9. Os dados tratados pelas redes sociais, os quais nós não controlamos, poderão permanecer nos servidores dessas empresas.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">a. Quando registra uma conta de usuário ou cria um perfil</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> Endereço de e-mail, CPF (para integração com outros sistemas de saúde), senha, ID da conta, nome de perfil, gênero, data de nascimento, informações gerais sobre sua saúde (opcional, como tabagismo, pressão arterial alta, diabetes, histórico familiar, estado de gravidez), data, hora e localização do registro.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Utilizamos os dados supracitados para lhe fornecer uma conta de usuário e acesso aos nossos Serviços. Utilizamos os dados gerais de saúde para realizar uma análise básica de perfil, visando oferecer conteúdo e funcionalidades mais relevantes. Não será possível acessar os nossos Serviços no caso (não opcional) de não serem fornecidos os dados mínimos necessários.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Execução de Contrato (Artigo 7, V da LGPD) e Consentimento (Artigo 7, I e Artigo 11, I da LGPD) para o tratamento dos seus dados sensíveis (dados de saúde).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Processamos os seus dados para a finalidade supracitada até que você solicite a exclusão da sua conta ou quando você excluir a sua conta. No caso da sua conta estiver inativa por mais de 24 meses, iremos contatá-lo para saber se você deseja continuar a utilizar os nossos Serviços. No caso de não utilizar a sua conta nos 3 meses subsequentes, procederemos à exclusão da sua conta. Iremos, ainda, conservar os seus dados (vide Seção 9, para mais informação), por exemplo, para o fim de estabelecer, exercer ou defender ações judiciais e para cumprir normas de alta qualidade e segurança, mas não processaremos os dados para qualquer outra finalidade.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">b. Perfil de saúde detalhado</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> Altura e peso corporal, qualquer medicação que faça uso (de forma contínua ou não), alergias, resultados de exames laboratoriais e/ou de imagens, histórico de vacinação, histórico de cirurgias, doenças pré-existentes e outras informações de saúde que você opte por adicionar ao seu perfil.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Esta funcionalidade permite-lhe criar um perfil de saúde abrangente para gestão dos seus dados de saúde nos nossos Serviços. Esses dados serão utilizados para personalizar as informações e orientações de saúde oferecidas, bem como para o monitoramento de sua saúde, quando aplicável e solicitado por você.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Consentimento (Artigo 7, I e Artigo 11, I da LGPD). Você poderá revogar/retirar o seu consentimento a qualquer momento.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Os seus dados serão armazenados até deixarem de ser necessários para a finalidade para a qual foram coletados. A duração do armazenamento dos seus dados para esta finalidade corresponde ao período de tratamento de acordo com a Seção 9.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">c. Login via Redes Sociais (Facebook/Apple/Google)</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> ID da rede social, endereço de e-mail (se você autorizar a rede social a compartilhar este endereço conosco), hora e data do login.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Se você escolher utilizar e fazer o login através de redes sociais, nós iremos receber os dados supracitados da rede social com a sua autorização, para preencher os seus dados de usuário no App/Website e verificar a sua identidade. Tenha em mente que, se você utilizar o login via rede social, a rede social poderá, igualmente, tratar os seus dados (IDs da rede social, metadados, alguns eventos de app e métricas do dispositivo). Nós não somos responsáveis por este tratamento de dados; você poderá obter mais informações sobre este assunto nas políticas de privacidade das respectivas redes sociais.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Legítimo Interesse (Artigo 7, IX da LGPD) em proporcionar aos usuários opções de acesso mais convenientes, e Execução de Contrato (Artigo 7, V da LGPD) para facilitar o acesso aos nossos Serviços.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> A duração do armazenamento dos seus dados para esta finalidade corresponde ao período de tratamento de acordo com a Seção 9. Os dados tratados pelas redes sociais, os quais nós não controlamos, poderão permanecer nos servidores dessas empresas.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">d. Interações com o projeto O Bom Doutor (Avaliações de Sintomas, Orientações de Saúde, Chat)</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> ID de perfil, nome de perfil (quando aplicável), dados de saúde relacionados requeridos para fornecer a avaliação/orientação (como idade, gênero, sintomas declarados, possíveis causas dos sintomas, alergias, estado de gravidez, histórico médico relevante e/ou relacionado), localização geográfica (se consentido), hora e data da interação, transcrições de conversas em chat (se aplicável).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Para lhe fornecer as funcionalidades de avaliação de sintomas, orientações de saúde e interação via chat através dos nossos Serviços, por exemplo, para sugerir possíveis causas dos sintomas declarados, realizar triagem e oferecer informações relevantes para a sua saúde.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Execução de Contrato (Artigo 7, V da LGPD) e Consentimento (Artigo 7, I e Artigo 11, I da LGPD) para o tratamento dos seus dados sensíveis (dados de saúde). Você poderá revogar/retirar o seu consentimento a qualquer momento, porém, não será possível fornecer-lhe determinadas funcionalidades dos nossos Serviços (por exemplo, a avaliação de sintomas) sem tal consentimento.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Como regra geral, a duração do armazenamento corresponde ao período de tratamento de acordo com a Seção 9. Além disso, poderá solicitar a exclusão de interações específicas ou excluí-las você mesmo no App/Website. Iremos, então, excluir ou anonimizar irreversivelmente os seus dados de interação (de forma a que não possam ser associados com uma pessoa natural específica) no prazo de 1 mês. Iremos conservar alguns dos seus dados (vide Seção 9, para mais informação), mas não iremos tratar os dados para qualquer outra finalidade.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">e. Análise da informação para garantir o cumprimento das normas de alta qualidade e segurança dos nossos serviços</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span>ID de conta (quando aplicável), ID de perfil (quando aplicável), ID de caso/interação, hora e data da avaliação/interação, localização geográfica da avaliação/interação, dados fornecidos em uma interação (dados pessoais de saúde necessários à realização da avaliação, como idade, gênero, sintomas, causas possíveis dos sintomas, alergias, estado de gravidez e histórico médico relevante e/ou relacionado), feedback, resultado da avaliação/orientação e dados relacionados com software e hardware (como números de versão, sistema operacional e ID de dispositivo).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span>De forma a assegurar o cumprimento das normas de alta qualidade e segurança dos nossos Serviços, será necessário rever a qualidade dos resultados (a “Análise”). A equipe de segurança e qualidade (os “Especialistas Médicos e de Dados”) faz uso de dados sob pseudônimo e, quando aplicável, dados agregados para avaliar os resultados e determinar se será necessário realizar algum melhoramento para que os nossos Serviços cumpram as mais exigentes normas de qualidade e segurança. Este tratamento é essencial para a segurança do paciente e a eficácia das orientações fornecidas.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span>Proteção da Vida ou Incolumidade Física do Titular ou de Terceiro (Artigo 7, VII e Artigo 11, II, “e” da LGPD) e Cumprimento de Obrigação Legal ou Regulatória (Artigo 7, II e Artigo 11, II, “a” da LGPD).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span>Processamos os seus dados até que tal não seja mais necessário para as finalidades anteriores especificadas, em conformidade com as obrigações regulatórias e a necessidade de garantir a segurança e qualidade dos nossos Serviços.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">f. Avaliação da sua elegibilidade e convite para participar de pesquisa clínica e recomendação de serviços de saúde</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> Endereço de e-mail, ID da conta, nome de perfil, data de nascimento, sintomas, possíveis causas dos sintomas, histórico médico, alergias, localização geográfica, hora e data da avaliação/interação e outros dados que nos tenha fornecido.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Utilizamos os dados supracitados para avaliar a sua elegibilidade para a participação em pesquisa clínica e para contatá-lo com o propósito de participar de pesquisa clínica com um dos nossos parceiros de pesquisa clínica que lhe possam interessar e/ou recomendá-lo a serviços de saúde para a realização de diagnósticos de acompanhamento ou tratamento. Para que não subsistam dúvidas, nós não transmitimos quaisquer dados pessoais aos nossos parceiros de pesquisa clínica sem o seu consentimento prévio e expresso, e qualquer participação em tais pesquisas clínicas ou recomendação a serviços de saúde é opcional e sujeita ao seu consentimento prévio.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Consentimento (Artigo 7, I e Artigo 11, I da LGPD). Você poderá revogar/retirar o seu consentimento a qualquer momento (poderá encontrar mais informação sobre os seus direitos enquanto titular dos dados na Seção 8 abaixo).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> A duração do armazenamento dos seus dados para esta finalidade corresponde ao período de tratamento de acordo com a Seção Quando você solicita a exclusão de uma interação específica ou exclui a interação no App/Website, os seus dados de interação não serão mais utilizados para esta finalidade.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">g. Utilização de dados de saúde para fins estatísticos e de pesquisa</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> ID da conta (quando aplicável), ID de interação (quando aplicável), idade, gênero, sintomas de doença, localização geográfica, fatores de risco, resultado da avaliação/orientação (como causas possíveis dos sintomas), histórico médico, alergias, hora e data da avaliação/interação e outros dados de saúde relevantes e relacionados que você nos possa ter fornecido.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Tratamos dados anonimizados ou pseudonimizados para gerar estatísticas agregadas sobre a prevalência geográfica de determinados tipos de condições e sintomas de doença. Poderemos apresentar essas estatísticas resumidas aos nossos parceiros (instituições de pesquisa, órgãos de saúde), procedendo sempre à anonimização irreversível dos dados antes de qualquer compartilhamento.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Pesquisa (Artigo 7, IV da LGPD) e Estudo por Órgão de Pesquisa (Artigo 11, II, “d” da LGPD), sempre com anonimização dos dados pessoais sensíveis, quando possível. Nosso legítimo interesse no tratamento de dados para estas finalidades consiste em sustentar o progresso da pesquisa médica e da saúde pública, alinhado com nossos objetivos empresariais e com o interesse público na melhoria dos cuidados de saúde. Você poderá, por motivos resultantes da sua condição particular, a qualquer momento, opor-se a tal tratamento manifestando-o por escrito (mais informação sobre o seu direito de objeção na Seção 8 abaixo).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> A duração do armazenamento dos seus dados com base nos quais nós criamos as estatísticas, corresponde ao período de tratamento de acordo com a Seção Quando você solicita a exclusão de uma interação específica ou exclui a interação no App/Website, os seus dados de interação não mais serão utilizados para esta finalidade. As estatísticas geradas são anônimas.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">h. Utilização de dados de saúde para fins de saúde pública</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> ID da conta (quando aplicável), nome de perfil (quando aplicável), ID de interação, ID de dispositivo, idade, gênero, sintomas de doença, localização geográfica, fatores de risco, resultados de avaliação/orientação (como causas possíveis dos sintomas), histórico médico, alergias, hora e data da avaliação/interação e outros dados de saúde relevantes e relacionados que você nos possa ter fornecido.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Tratamos dados anonimizados ou pseudonimizados para fins de saúde pública (conforme Artigo 7, VIII e Artigo 11, II, “f” da LGPD), como a análise de dados de case relativos às tendências da saúde pública, e identificamos fatores que possam melhorar a saúde pública como, por exemplo, a determinação da prevalência de condições específicas e a compreensão de aspectos específicos das interações. Com estas análises, ajudamos a identificar surtos de doenças infecciosas e monitorar a sua evolução temporal e geográfica. Poderemos compartilhar e apresentar os resultados aos nossos parceiros (comunidade científica, entidades de saúde pública) na forma de estatísticas resumidas, sempre com dados irreversivelmente anônimos. Poderemos, ainda, tratar tais tipos de dados para lhe fornecer a melhor orientação possível, por exemplo, orientando-o para o serviço de cuidados de saúde mais adequado e, assim, ajudar na redução da sobrecarga desnecessária para você e, igualmente, para os sistemas de cuidados de saúde.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Proteção da Saúde (Artigo 7, VIII e Artigo 11, II, “f” da LGPD), com anonimização ou pseudonimização dos dados pessoais sensíveis. Você poderá, por motivos resultantes da sua condição particular, a qualquer momento, opor-se a tal tratamento manifestando-o por escrito (mais informação sobre o seu direito de objeção na Seção 8 abaixo).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> A duração do armazenamento dos seus dados sob pseudônimo, com base nos quais criamos as estatísticas, corresponde ao período de tratamento de acordo com a Seção Quando você solicita a exclusão de uma interação específica ou exclui a interação no App/Website, os seus dados de interação não serão mais utilizados para esta finalidade.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">i. Monitoramento e melhoramento da segurança dos nossos Serviços</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> Sintomas informados, possíveis causas dos sintomas, ID da conta (quando aplicável), nome de perfil (quando aplicável), idade, gênero, localização geográfica (país), endereço IP, ID de dispositivo e quaisquer ocorrências na utilização dos Serviços, como, mas não exclusivamente, o início ou o fim de uma avaliação.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Utilizamos um conjunto limitado de dados de utilização (que poderão incluir dados pessoais de saúde, quando relevantes para a segurança), tanto para monitorar a usabilidade e assegurar que os nossos Serviços estão em conformidade com as exigentes normas de qualidade e segurança, como para detectar qualquer possível funcionamento indevido, avaliação incorreta ou questões relacionadas com a disponibilidade e usabilidade. Por exemplo, no caso de você concluir uma avaliação e marcá-la com ‘irrelevante’ ou indicar que forneceu um resultado errado, essa informação ajudará nossa equipe a verificar a avaliação e decidir se uma alteração nas funcionalidades poderá traduzir-se numa melhoria da segurança.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Proteção da Vida ou Incolumidade Física do Titular ou de Terceiro (Artigo 7, VII e Artigo 11, II, “e” da LGPD) e Cumprimento de Obrigação Legal ou Regulatória (Artigo 7, II e Artigo 11, II, “a” da LGPD).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> A duração do armazenamento dos seus dados para esta finalidade corresponde à nossa obrigação de cumprimento das normas de qualidade e segurança referentes aos nossos Serviços.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">j. Compartilhamento de informação limitada e aumento de impacto do O Bom Doutor</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> ID de anunciante, download e instalação do App no seu aparelho móvel, informação sobre a forma como teve conhecimento sobre nós (por exemplo, via redes sociais ou um artigo publicado online), sobre o êxito do seu registro e criação de uma interação nos nossos serviços e a sua avaliação do nosso App nas App Stores, localização geográfica, hora e data.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Tratamos alguns dados de utilização (os quais não incluem dados pessoais de saúde) se você estiver utilizando o App, para compreender a forma como o O Bom Doutor chega às pessoas online. Isso nos ajuda a compartilhar informação relevante com você e outros potenciais usuários. Por exemplo, no caso de já ter feito o download do App O Bom Doutor, isso significa que não irá ver mais anúncios solicitando que faça o download do App quando estiver online. Esta informação nos ajuda, igualmente, a compreender a forma de alcançar mais pessoas online, as quais possam se beneficiar das funcionalidades do O Bom Doutor. Fazemos uso apenas de dados de utilização sob pseudônimo que coletamos através de nossos processadores de análise de marketing (ex: Adjust GmbH, Google Analytics). Nunca compartilharemos sua informação pessoal de saúde com anunciantes ou terceiros para fins de marketing direto.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Consentimento (Artigo 7, I da LGPD).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> A duração do armazenamento dos seus dados para esta finalidade corresponde ao período de tratamento de acordo com a Seção 9 deste documento.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">k. Monitoramento da utilização para garantir a correta utilização, funcionamento, manutenção e melhoramento dos Serviços e e-mails relacionados</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> ID de dispositivo, endereço IP, sistema operacional e tipo de browser, duração das visitas a determinadas páginas, informação de interação com a página tal como a rolagem, gestos com os dedos, cliques e movimentos do mouse, localização geográfica, hora e data e quaisquer eventos ocorridos durante a utilização dos Serviços, tais como, mas não exclusivamente, o início ou fim de uma avaliação.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Utilizamos um conjunto limitado de dados de utilização (os quais não incluem dados pessoais de saúde diretamente identificáveis) para assegurar a correta utilização, funcionamento, manutenção e melhoramento dos nossos Serviços para todos os usuários.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Legítimo Interesse (Artigo 7, IX da LGPD). Nosso legítimo interesse é baseado na utilização dos dados supracitados para garantir a qualidade e disponibilidade dos Serviços. Em nenhuma circunstância iremos utilizar os dados coletados para verificar a sua identidade, a menos que seja para fins de segurança ou solicitação expressa. Poderemos tratar a interação com a página quando você utilizar os nossos Serviços ou receber e-mails que lhe enviemos com o propósito de assegurar o recebimento dos mesmos e avaliar o Serviço com vista ao seu melhoramento. Você poderá, por motivos resultantes da sua condição particular, a
qualquer momento, opor-se a tal tratamento legítimo, manifestando-o por escrito (mais informação sobre o seu direito de objeção na Seção 10, acima).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Os seus dados serão removidos após decorrido 5 anos, salvo na ocorrência de qualquer incidente de segurança relevante (por exemplo, um ataque DDoS). No caso de ocorrência de um incidente de segurança relevante, serão guardados arquivos de histórico dos servidores até que o incidente de segurança relevante tenha sido completamente eliminado e esclarecido.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">l. Marketing direto dos nossos produtos e serviços similares</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> Endereço de e-mail, nome de perfil, preferência de gênero.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Recebimento de marketing direto (produtos e serviços) ou comunicação sobre quaisquer pesquisas que acreditemos serem do seu interesse. Você poderá modificar, a qualquer momento, as suas configurações de marketing através do link existente no final de cada um dos e-mails de marketing, ou enviando-nos um pedido de cancelamento de subscrição.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Legítimo Interesse (Artigo 7, IX da LGPD), para produtos ou serviços similares que você já tenha demonstrado interesse. Para outras finalidades, o Consentimento (Artigo 7, I da LGPD) será solicitado.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> A duração do armazenamento dos seus dados para esta finalidade corresponde ao período de tratamento de acordo com a Seção 9, ou até que você solicite a interrupção do marketing direto.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">m. Otimização das nossas iniciativas de marketing</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> ID de dispositivo, endereço IP, sistema operacional e tipo de browser, duração das visitas a determinadas páginas e informação de interação com a página, tal como rolagem, gestos com os dedos, cliques e movimentos do mouse, localização geográfica, hora e data.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Utilizamos um conjunto limitado de dados de utilização (os quais não incluem dados pessoais de saúde) para rastrear a sua interação com a página e analisar os dados, com vista à otimização das nossas iniciativas de marketing e à personalização da experiência do usuário, sempre respeitando a sua privacidade.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Consentimento (Artigo 7, I da LGPD). Você poderá, a qualquer momento, personalizar as suas definições de rastreamento nas configurações de privacidade do App/Website, ou contatando-nos por escrito.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Os seus dados serão armazenados até que não sejam mais necessários para a finalidade para a qual foram coletados ou você revogue o seu consentimento. A duração do armazenamento dos seus dados para esta finalidade corresponde ao período de tratamento de acordo com a Seção 9.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">n. Relatórios de desempenho e monitoramento técnico</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> Erros, relatórios de falha de sistema incluindo dispositivo, aplicativo e informações específicas (por exemplo, versão do aplicativo), endereço IP, URL, localização geográfica, hora e data.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Utilizamos os dados supracitados (os quais não incluem dados pessoais de saúde diretamente identificáveis) tanto para assegurar a funcionalidade dos nossos Serviços (nossos Serviços não conseguem funcionar devidamente sem este tratamento) e para evitar que seja realizada qualquer descompilaçãoou engenharia reversa. Utilizamos apenas dados de utilização sob pseudônimo que possamos coletar através de serviços de processadores como Sentry (Functional Software Inc.) e Sumo Logic, Hound Technology, Inc. Estes dados poderão ser transmitidos para e armazenados nos servidores desses processadores. Para mais informações, por favor, consulte as políticas de privacidade de Sentry, Sumo Logic e Honeycomb. Os dados coletados nesteâmbito não são utilizados para fazer a ligação entre qualquer perfil de utilização com seus dados pessoais.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Legítimo Interesse (Artigo 7, IX da LGPD). Nosso legítimo interesse é baseado nas finalidades de utilização dos dados supracitados para garantir a estabilidade e segurança dos Serviços. Em nenhuma circunstância iremos utilizar os dados coletados para verificar a sua identidade, a menos que seja para fins de segurança ou solicitação expressa.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Os seus dados serão removidos após decorrido 5 anos, salvo na ocorrência de qualquer incidente de segurança relevante (e.g., um ataque DDoS). No caso de ocorrência de um incidente de segurança relevante, os arquivos de cadastro histórico serão armazenados até que o dito incidente tenha sido resolvido e totalmente esclarecido.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">o. Feedback/pesquisas</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> Feedback que poderá conter alguns dados pessoais, endereço de e-mail (opcional), dados fornecidos na interação (apenas se você nos fornecer o seu endereço de e-mail e tenha criado uma conta conosco, a qual nos permita identificá-lo, apenas para as finalidades listadas abaixo).</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Utilizamos o feedback que nos fornece (opcional) para analisar se você se encontra satisfeito ou insatisfeito com os nossos produtos e serviços, e para avaliar a sua experiência em termos gerais com estes. Este constitui para nós um recurso fundamental para o melhoramento da sua experiência de usuário e ajuste de nossas ações para atender às suas necessidades. Poderemos igualmente utilizar o feedback que nos fornece (opcional) com objetivo de assegurar o cumprimento, por parte dos nossos Serviços, de normas de alta qualidade e segurança, conforme descrito na Seção 1 acima.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Legítimo Interesse (Artigo 7, IX da LGPD): para o melhoramento da sua experiência de usuário e ajuste de nossas ações para atender às suas necessidades. Em nenhuma circunstância iremos utilizar os dados coletados para verificar a sua identidade de forma secundária para fins não relacionados.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Os seus dados serão armazenados até que não sejam mais necessários para a finalidade para a qual foram coletados. A duração do armazenamento dos seus dados para esta finalidade corresponde ao período de tratamento de acordo com a Seção 9.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">p. Ferramenta Web de Registro e Resultados (quando aplicável)</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> ID da conta, endereço, data de nascimento, gênero, endereço de e-mail, resultados de testes.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> Nós lhe fornecemos a ferramenta web de resultados e registro (“Ferramenta de Registro e Resultados”) em cooperação com laboratórios parceiros. Nós tratamos os seus dados para enviar o seu registro ao laboratório parceiro e comunicar-lhe os resultados dos testes. Além disso, nós utilizamos os dados supracitados para lhe fornecer uma conta de usuário. O laboratório parceiro é o único controlador do tratamento relacionado com o procedimento de teste. Nós somos o controlador do tratamento relacionado com a sua utilização da Ferramenta de Registro e Resultados.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Execução de Contrato (Artigo 7, V da LGPD) e Consentimento (Artigo 7, I e Artigo 11, I da LGPD) relativo aos seus dados de saúde. Você poderá revogar/retirar o seu consentimento a qualquer momento, porém, não será possível fornecer-lhe a Ferramenta de Registro e Resultados sem tal consentimento.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Processamos os seus dados para a finalidade supracitada até que você solicite a exclusão da sua conta ou quando você excluir a sua conta. No caso da sua conta estar inativa por mais de 24 meses, iremos contatá-lo para saber se você deseja continuar a utilizar a nossa Ferramenta de Registro e Resultados. No caso de não utilizar a sua conta nos 3 meses subsequentes, procederemos à exclusão da sua conta. Em qualquer caso, iremos proceder à exclusão da sua conta no prazo de 1 mês e excluir ou anonimizar irreversivelmente os seus dados (de forma a que não possam ser associados a uma pessoa natural específica). Iremos, ainda, conservar os seus dados (vide Seção 9, para mais informação), por exemplo, com a finalidade de estabelecer, exercer ou defender ações judiciais, mas não processaremos os dados para qualquer outra finalidade.</p>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">q. Candidatura de emprego</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Tipos de dados:</span> Nome próprio, apelido, endereço de e-mail, número de telefone, localização geográfica (cidade), currículo, perfil de LinkedIn (opcional), hora e data da candidatura.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade do tratamento:</span> No caso de você ser um candidato em nosso Website, poderemos tratar os dados supracitados para verificar a sua elegibilidade para o cargo (ou quaisquer outras vagas que existam na nossa empresa) e conduzir o processo de candidatura.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Execução de Contrato ou de procedimentos preliminares relacionados a contrato (Artigo 7, V da LGPD), para medidas tomadas a pedido do titular dos dados antes da celebração de um contrato.</p>
                    <li class="dark-fullbody-text"><span class="bold-text">Duração do armazenamento:</span> Em caso de rejeição, os dados do candidato serão eliminados transcorridos 6 meses. No caso de você ter concordado com o armazenamento dos seus dados pessoais mais prolongado, nós iremos adicionar os seus dados ao nosso banco de talentos. Os dados serão eliminados dois anos após essa data. No caso de receber uma oferta de emprego ao longo do seu processo de candidatura, os dados serão transferidos do sistema de dados de recrutamento para o nosso sistema de informação de Recursos Humanos.</p>
                </ul>
            </section>
        </section>

        <section>
            <p class="black-sub-title">6. COOKIES E RASTREAMENTO NO NOSSO WEBSITE E APP</p>
            <p class="dark-fullbody-text">Nosso Website e App utilizam “cookies” e tecnologias semelhantes de rastreamento para melhorar a sua experiência de navegação, compreender o comportamento dos usuários e oferecer conteúdo personalizado.</p>
            <p class="dark-fullbody-text">Cookies são pequenos arquivos de texto armazenados no seu navegador ou dispositivo (computador, tablet ou smartphone) quando você acessa nossas plataformas. Utilizamos o termo “cookies” para abranger também outras ferramentas de coleta automatizada, como pixel tags, beacons e tecnologias similares que registram informações como endereço IP, localização, data e horário de acesso.</p>
            <p class="dark-fullbody-text">Os dados coletados por meio dessas tecnologias são registrados sob pseudônimo e, por padrão, <span class="bold-text">não são combinados com outras informações pessoais identificáveis</span>, exceto quando houver seu <span class="bold-text">consentimento expresso para fins específicos de personalização.</span></p>
            <p class="dark-fullbody-text">A utilização de cookies poderá ter diferentes finalidades, tais como:</p>
            <ul>
                <li class="dark-fullbody-text">Garantir funcionalidades básicas e seguras de navegação;</li>
                <li class="dark-fullbody-text">Memorizar preferências do usuário;</li>
                <li class="dark-fullbody-text">Analisar o desempenho da plataforma;</li>
                <li class="dark-fullbody-text">Fornecer publicidade direcionada, quando autorizado.</li>
            </ul>
            <p class="dark-fullbody-text">A base legal para o uso de cookies depende do tipo de cookie utilizado. Para cookies estritamente necessários, o tratamento ocorre com base no <span class="bold-text">legítimo interesse</span>. Para demais tipos (como cookies analíticos ou de marketing), o tratamento será realizado <span class="bold-text">somente mediante seu consentimento</span>, conforme previsto na LGPD.</p>
            <p class="dark-fullbody-text">Para mais informações sobre os tipos de cookies utilizados, suas finalidades e instruções sobre como gerenciar suas preferências, acesse nossa Política de Cookies da CSM, através do link: <a href="https://csmtec.com.br/politica-de-cookies">https://csmtec.com.br/politica-de-cookies</a>.</p>
        </section>
        <section>
            <p class="black-sub-title">7. ONDE ARMAZENAMOS OS SEUS DADOS PESSOAIS</p>
            <p class="dark-fullbody-text">Os dados pessoais que nós coletamos sobre você são armazenados no Brasil ou em servidores localizados na União Europeia, em data centers que oferecem níveis adequados de proteção de dados, como os da Amazon Web Services (AWS) ou Google Cloud Platform (GCP). Esses data centers são escolhidos com base em rigorosos critérios de segurança e conformidade com as normas de proteção de dados.</p>
            <p class="dark-fullbody-text">Porém, estes dados poderão ser tratados por processadores subcontratados que operem fora do Brasil ou do Espaço Econômico Europeu (“EEE”) conforme um acordo de tratamento de dados, desde que sejam cumpridos os requisitos adicionais dispostos no Artigo 33 da LGPD sobre a transferência internacional de dados. Isso inclui a verificação de que o país ou organização internacional de destino proporciona um grau de proteção de dados pessoais adequado ao previsto na LGPD (Decisão de Adequação), ou que o controlador oferece garantias de cumprimento dos princípios e direitos do titular, tais como Cláusulas Contratuais Padrão (CCP), Normas Corporativas Vinculantes (BCR) ou outros mecanismos aprovados pela Autoridade Nacional de Proteção de Dados (ANPD).
A transferência de informação sigilosa entre o seu navegador/aplicativo e os nossos Serviços é realizada de forma criptografada, utilizando Transport Layer Security (“TLS”) ou protocolos de segurança equivalentes. Na transmissão de informação sigilosa, você deverá assegurar sempre que o seu dispositivo e navegador/aplicativo são capazes de validar o nosso certificado de segurança.</p>
            <p class="dark-fullbody-text">Por favor, contate-nos no caso de você desejar informação mais detalhada sobre as garantias especificamente aplicadas no que diz respeito à exportação dos seus dados pessoais para fora do Brasil.</p>
        </section>

        <section>
            <p class="black-sub-title">8. DIVULGAÇÃO DOS SEUS DADOS PESSOAIS</p>
            <section>
                <p class="black-sub-title">8.1. Prestadores de Serviços e Parceiros</p>
            <p class="dark-fullbody-text">Nós recorremos a prestadores de serviços técnicos para a operação e manutenção dos nossos Serviços, os quais atuam na qualidade de processadores conforme o acordo de tratamento de dados. Uma lista completa dos nossos processadores terceiros que tratam os seus dados pessoais em nosso nome e estritamente de acordo com o disposto na Seção 3 anterior está disponível mediante solicitação através do contato do DPO.</p>
               <p class="dark-fullbody-text">Os prestadores de serviços que tratam dados pessoais em nosso nome fora do Brasil serão apenas utilizados se o destinatário tiver recebido uma decisão de adequação da ANPD ou sobre garantias adequadas para o país terceiro em questão. Além disso, nós não transferimos os seus dados pessoais para terceiros – exceto, quando aplicável, para as finalidades listadas abaixo.</p>
               <ul>
                   <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> A base legal da transferência e tratamento dos seus dados pessoais pelo processador corresponde à base legal na qual nós, na qualidade de controlador de dados, nos fiamos (sempre em conformidade com a Seção 5 anterior).</li>
               </ul>

               <p class="dark-fullbody-text"><span class="bold-text">a. Fusões e Aquisições</span></p>
               <p class="dark-fullbody-text">No caso de nós vendermos ou comprarmos qualquer empresa ou ativos, poderemos divulgar os seus dados pessoais ao potencial vendedor ou comprador de tal empresa ou ativos. No caso de nós ou, substancialmente, todos os nossos ativos forem adquiridos por um terceiro, os dados pessoais dos nossos usuários serão um dos ativos transferidos.</p>
               <ul>
                   <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Legítimo Interesse (Artigo 7, IX da LGPD): para a realização de operações societárias. Quando exigido pela legislação aplicável, ou quando envolver dados sensíveis, o consentimento (Artigo 7, I e Artigo 11, I da LGPD) será solicitado, ou a operação será fundamentada em proteção da vida/incolumidade, ou cumprimento de obrigação legal/regulatória.</li>
               </ul>

               <p class="dark-fullbody-text"><span class="bold-text">b. Obrigações Legais</span></p>
               <p class="dark-fullbody-text">Se, ao abrigo do direito brasileiro ou de outras jurisdições aplicáveis, formos obrigados a divulgar ou compartilhar os seus dados pessoais.</p>
               <ul>
                   <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Cumprimento de Obrigação Legal ou Regulatória (Artigo 7, II da LGPD).</li>
               </ul>

               <p class="dark-fullbody-text"><span class="bold-text">c. Parcerias para Pesquisa Clínica, Serviços de Saúde e Exames Complementares</span></p>
               <p class="dark-fullbody-text">Poderemos divulgar determinados dados a organizações envolvidas na realização de ensaios clínicos, na prestação de serviços de saúde ou na realização de exames complementares com clínicas e laboratórios parceiros quando nos tenha explicitamente autorizado a fazê-lo. Nestes casos, o compartilhamento será limitado ao estritamente necessário e sempre com a garantia de anonimização ou pseudonimização quando possível.</p>
               <ul>
                   <li class="dark-fullbody-text"><span class="bold-text">Base Legal:</span> Consentimento (Artigo 7, I e Artigo 11, I da LGPD).</li>
               </ul>
            </section>
        </section>

        <section>
            <p class="black-sub-title">9. DURANTE QUANTO TEMPO CONSERVAMOS OS SEUS DADOS PESSOAIS</p>
            <p class="dark-fullbody-text">Nós manteremos os seus dados pessoais pelo período necessário ou exigido por lei ou por qualquer outro órgão regulador relevante, e sempre em conformidade com o princípio da minimização dos dados. Os períodos de armazenamento específicos referentes às respectivas atividades de tratamento estão especificados na Seção 5 anterior.</p>
            <p class="dark-fullbody-text">No caso dos seus dados pessoais serem utilizados para mais de uma finalidade, iremos mantê-los até que termine a finalidade com o prazo mais longo, mas deixaremos de utilizá-los para a finalidade com o prazo mais curto, assim que esse prazo termine (para cumprimento do princípio da limitação da finalidade). Nós restringimos o acesso aos seus dados pessoais a pessoas que necessitem de utilizá-los para a(s) finalidade(s) relevante(s), sempre em conformidade com o princípio de integridade e confidencialidade.</p>
            <p class="dark-fullbody-text">Uma vez que o tratamento dos seus dados deixe de ser necessário para as finalidades delineadas na Seção 5 ou a sua conta seja excluída, iremos separar e armazenar, de modo seguro, alguns dos seus dados em conformidade com as obrigações legais de conservação que sejam a nós aplicáveis e necessidades comerciais razoáveis.</p>
            <p class="dark-fullbody-text"><span class="bold-text">Exemplos de prazos de retenção:</span></p>
            <ul>
                <li class="dark-fullbody-text">Manteremos dados contábeis conforme as obrigações de armazenamento comerciais e tributárias (ex: 5 anos para documentos fiscais, conforme a legislação brasileira).</li>
                <li class="dark-fullbody-text">Manteremos dados relacionados à segurança e qualidade dos nossos Serviços (incluindo dados de saúde, se aplicável e pseudonimizados/anonimizados) em conformidade com as nossas obrigações regulatórias, por exemplo, para fins de farmacovigilância e tecnovigilância.</li>
                <li class="dark-fullbody-text">Manteremos dados (incluindo dados de saúde, se aplicável e pseudonimizados/anonimizados) relacionados com a sua utilização dos nossos Serviços por um período necessário para as finalidades de estabelecimento, exercício ou defesa de ações judiciais, conforme os prazos prescricionais previstos na legislação brasileira.</li>
                <li class="dark-fullbody-text">Se o tratamento dos seus dados pessoais deixar de ser necessário para qualquer finalidade, eles serão irreversivelmente anonimizados (e os dados anonimizados podem ser conservados) ou excluídos de forma segura.</li>
            </ul>
            <p class="dark-fullbody-text">Para a definição de um prazo de retenção adequado aos dados pessoais tratados, são observados critérios como a finalidade do tratamento, a natureza e sensibilidade dos dados coletados, bem como a existência de obrigações legais ou regulatórias que determinem sua conservação.</p>
            <p class="dark-fullbody-text">No caso de dados relacionados à saúde, a retenção observa, em especial, os parâmetros estabelecidos pela <span class="bold-text">Resolução CFM nº 1.638/2002</span>, pelo <span class="bold-text">Parecer CFM nº 10/2009</span> e pela <span class="bold-text">Lei nº 13.787/2018</span>, que autorizam a manutenção de prontuários e informações de saúde por até <span class="bold-text">20 (vinte)</span> anos após o último registro do paciente.</p>
            <p class="dark-fullbody-text">Para os demais dados, a retenção poderá ocorrer por até <span class="bold-text">5 (cinco)</span> anos, com fundamento no exercício regular de direitos ou no cumprimento de obrigações legais, conforme os <span class="bold-text">artigos 7º, II e IX da LGPD</span> e o <span class="bold-text">artigo 206, §5º do Código Civil Brasileiro</span>. Após esse prazo, os dados serão eliminados ou anonimizados, conforme o caso.</p>
        </section>

        <section>
            <p class="black-sub-title">10. OS SEUS DIREITOS ENQUANTO TITULAR DOS DADOS</p>
            <p class="dark-fullbody-text">De acordo com a Lei Geral de Proteção de Dados Pessoais nº 13.709/2018 – LGPD, você tem o direito de solicitar, a qualquer momento e de forma gratuita os direitos mencionados abaixo. Todos estes direitos poderão ser exercidos contatando-nos através do nosso formulário de contato disponível neste link: <a href="/formulario-de-requisicao-de-direitos-do-titular-de-dados-pessoais/">acessar link</a>, selecionando “Exercício dos meus Direitos de Dados e Privacidade”, ou diretamente com o nosso DPO através do e-mail: <a href="mailto:dpo@csmtec.com.br"> dpo@csmtec.com.br</a>.</p>
            <p class="dark-fullbody-text"><span class="bold-text">Verificação:</span> De modo a verificar a sua solicitação, tomaremos medidas razoáveis, como solicitar-lhe que envie uma confirmação a partir do endereço de e-mail associado à sua conta, ou, se necessário, outras formas de prova de identidade para garantir que você é o titular dos dados.</p>
            <section>
                <p class="black-sub-title">10.1 Seus direitos de proteção de dados no Brasil (LGPD)</p>
                <p class="dark-fullbody-text">A LGPD confere-lhe os seguintes direitos:</p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito de Confirmação: </span>Direito de receber a confirmação da existência de tratamento dos seus dados pessoais.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito de Acesso: </span>Direito de obter acesso aos seus dados pessoais que tratamos.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito de Retificação: </span>Direito de solicitar a correção de dados incompletos, inexatos ou desatualizados.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito à Anonimização, Bloqueio ou Eliminação: </span>Direito de solicitar a anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a LGPD.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito à Portabilidade: </span>Direito de solicitar a portabilidade dos seus dados pessoais a outro fornecedor de serviço ou produto, mediante requisição expressa, observados os segredos comercial e industrial, conforme regulamentação da ANPD.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito à Eliminação: </span>Direito de solicitar a eliminação dos dados pessoais tratados com base no seu consentimento, salvo as exceções previstas no Artigo 16 da LGPD.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito à Informação sobre Uso Compartilhado: </span>Direito de receber informações sobre as entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito à Informação sobre a Possibilidade de Não Fornecer Consentimento: </span>Direito de ser informado sobre a possibilidade de não fornecer consentimento e sobre as consequências de tal recusa.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito de Revogação do Consentimento: </span>Direito de revogar o seu consentimento a qualquer momento, por meio de manifestação expressa, ratificados os tratamentos realizados sob amparo do consentimento anteriormente manifestado.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito de Oposição: </span>Direito de se opor a tratamento realizado com base em alguma das hipóteses de dispensa de consentimento (ex: legítimo interesse), em caso de descumprimento à LGPD.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito de Revisão de Decisões Automatizadas: </span>Direito de solicitar a revisão de decisões tomadas unicamente com base em tratamento automatizado de dados pessoais que afetem seus interesses, incluindo decisões definidas perfis pessoais, profissionais, de consumo e de crédito ou os aspectos de sua personalidade.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Direito de Petição à ANPD: </span>Direito de apresentar uma reclamação junto à Autoridade Nacional de Proteção de Dados (ANPD).
Você jamais será discriminado, ou de outra forma prejudicado, no exercício dos seus direitos.</li>
                </ul>

                <p class="dark-fullbody-text"><span class="bold-text">a. Como você pode exercer os seus direitos</span></p>
                <p class="dark-fullbody-text">Para exercer os seus direitos, você pode acessar, a qualquer momento, os dados de contato indicados no item 2 acima, (enviando, por exemplo, um e-mail para o endereço do Encarregado de Proteção de Dados – DPO: <a href="mailto:dpo@csmtec.com.br">dpo@csmtec.com.br</a>) gratuitamente.</p>

                <p class="dark-fullbody-text"><span class="bold-text">b. Como e quando nós respondemos às suas solicitações</span></p>
                <p class="dark-fullbody-text">Estamos comprometidos em responder às suas solicitações relacionadas ao exercício dos seus direitos como titular de dados, de forma ágil e transparente. Caso não seja possível atender de imediato por razões técnicas ou jurídicas, você será devidamente informado sobre os motivos e prazos aplicáveis.</p>
                <p class="dark-fullbody-text">Se sua solicitação for de acesso ou confirmação de tratamento de dados, você deverá indicar se deseja receber as informações em formato eletrônico ou impresso e se prefere um atendimento simplificado ou uma resposta completa.</p>
                <ul>
                    <li class="dark-fullbody-text">Para solicitações com resposta simplificada, forneceremos um resumo objetivo por meio de formulário padronizado;</li>
                    <li class="dark-fullbody-text">Para solicitações completas, responderemos no prazo de até 15 dias corridos, conforme Art. 19, Inciso II da LGPD, com informações detalhadas sobre:</li>
                </ul>
                <ol>
                    <li class="dark-fullbody-text">Quais dados pessoais são tratados;</li>
                    <li class="dark-fullbody-text">As finalidades e critérios de tratamento;</li>
                    <li class="dark-fullbody-text">A origem dos dados e com quem foram compartilhados;</li>
                    <li class="dark-fullbody-text">Outros elementos exigidos pela LGPD, respeitando os segredos comerciais e industriais da CSM.</li>                   
                </ol>
                <p class="dark-fullbody-text">Nos casos de solicitação de <span class="bold-text">correção, exclusão, anonimização ou bloqueio de dados</span>, tomaremos as providências para atender à sua solicitação e, quando necessário, encaminharemos a solicitação aos terceiros com os quais seus dados tenham sido compartilhados — salvo se o repasse for comprovadamente impossível ou exigir esforços desproporcionais.</p>
                <p class="dark-fullbody-text">Você poderá exercer seus direitos entrando em contato diretamente com nosso DPO pelo e-mail: <a href="mailto:dpo@csmtec.com.br">dpo@csmtec.com.br</a>.</p>
            </section>
        </section>






        <section>
            <p class="black-sub-title">11. TRANSFERÊNCIA DE DADOS PESSOAIS PARA FORA DO BRASIL</p>
            <p class="dark-fullbody-text">Tendo em vista que a CSM pode utilizar infraestrutura de servidores e serviços em nuvem localizados fora do Brasil (conforme descrito na Seção 7), nós transferimos seus dados estritamente para poder prestar nossos serviços.</p>
            <p class="dark-fullbody-text">Essa transferência ocorre em conformidade com as hipóteses previstas no Artigo 33 da LGPD, que incluem:</p>
            <ul>
                <li class="dark-fullbody-text">Quando o país ou organização internacional de destino proporcionar grau de proteção de dados pessoais adequado ao previsto na LGPD.</li>
                <li class="dark-fullbody-text">Quando a transferência for necessária para a execução de contrato ou de procedimentos preliminares relacionados a contrato do qual o titular seja parte.</li>
                <li class="dark-fullbody-text">Quando a transferência for necessária para o exercício regular de direitos em processo judicial, administrativo ou arbitral.</li>
                <li class="dark-fullbody-text">Quando o titular tiver fornecido seu consentimento específico e em destaque para a transferência, com informação prévia sobre o caráter internacional da operação.</li>
                <li class="dark-fullbody-text">Quando a ANPD autorizar a transferência.</li>
                <li class="dark-fullbody-text">Quando for necessária para a proteção da vida ou incolumidade física do titular ou de terceiros.</li>
                <li class="dark-fullbody-text">Quando os dados forem coletados no Brasil, mas transferidos para fins de pesquisa científica ou saúde pública, com anonimização ou pseudonimização dos dados sempre que possível e em conformidade com as normativas da ANPD.</li>
                <li class="dark-fullbody-text">Além disso, transferimos os seus dados para fora do território brasileiro quando a transferência:</li>
                <li class="dark-fullbody-text">For necessária para a colaboração constitucional internacional entre os serviços públicos de informações e as autoridades de investigação e judiciárias de acordo com os meios jurídicos previstos no direito internacional;</li>
                <li class="dark-fullbody-text">Quando for aprovado pela ANPD;</li>
                <li class="dark-fullbody-text">Quando resultar de uma obrigação que foi incorporada no âmbito de um tratado de cooperação internacional.</li>
        </section>






        <section>
            <p class="black-sub-title">12. RELATÓRIO DE IMPACTO À PROTEÇÃO DE DADOS PESSOAIS</p>
            <p class="dark-fullbody-text">A CSM poderá elaborar e manter atualizados Relatórios de Impacto à Proteção de Dados Pessoais (“RIPD”), conforme previsto no art. 38 da LGPD. Esses relatórios têm como finalidade documentar as operações de tratamento de dados que possam representar alto risco aos direitos dos titulares, bem com as medidas técnicas e organizacionais adotadas para mitigação de tais riscos. Os relatórios estarão disponíveis à Autoridade Nacional de Proteção de Dados (“ANPD”), mediante solicitação formal. </p>
        </section>

        <section>
            <p class="black-sub-title">13. ALTERAÇÕES A ESTA POLÍTICA</p>
            <p class="dark-fullbody-text">Quaisquer alterações futuras que façamos à nossa Política de Privacidade serão publicadas nesta página, e quando apropriado, serão anunciadas via notificação por e-mail, notificações no App e/ou por qualquer outro meio disponível. Por conseguinte, recomendamos que, ocasionalmente, consulte a mesma para se informar sobre a forma como tratamos os seus dados.</p>
            <p class="dark-fullbody-text">As bases legais utilizadas para o tratamento de dados serão revisadas periodicamente, especialmente nos casos de dados anonimizado para fins estatísticos, científicos ou aplicação em tecnologias de inteligência artificial, sempre observando os princípios da necessidade, finalidade e transparência previstos na LGPD.</p>
        </section>

        <section>
            <p class="black-sub-title">14. DISPOSIÇÕES FINAIS</p>
            <p class="dark-fullbody-text"><span class="bold-text">Responsabilidade do Usuário</span></p>
            <p class="dark-fullbody-text">O titular dos dados é responsável por garantir que as informações fornecidas à CSM sejam verdadeiras, completas e atualizadas. Em caso de fornecimento de dados de terceiros (como filhos ou dependentes), o titular declara que possui autorização legal para esse compartilhamento.</p>
        </section>

        <section>
            <p class="black-sub-title">CSM TECNOLOGIA E GESTÃO S.A.</p>
            <p class="dark-fullbody-text"><span class="bold-text">Razão Social:</span> CSM TECNOLOGIA E GESTÃO S.A.</p>
            <p class="dark-fullbody-text"><span class="bold-text">Endereço:</span> Avenida Paulista, 1471, sala 1110, Bela Vista, São Paulo/SP – CEP 01.311-927.</p>
            <p class="dark-fullbody-text"><span class="bold-text">E-mail Institucional:</span><a href="mailto:contato@csmtec.com.br"> contato@csmtec.com.br</a></p>
            <p class="dark-fullbody-text"><span class="bold-text">E-mail Específico para LGPD:</span><a href="mailto:dpo@csmtec.com.br"> dpo@csmtec.com.br</a></p>
        </section>

     


    </div>
</div>  




</Layout>






  <!-- blue-sub-title -->
  <!-- black-sub-title -->
  <!-- blue-sub-title -->
  <!-- bold-text -->

