---
import Layout from '../layouts/Layout.astro';
import '../style/contactStyle.css';
---

<Layout title="Política de Cookies - CSM TEC">
<div class="contact-banner">
    <div class="contact-banner-content">
        <p class="white-hero">Política de Cookies</p>
    </div>
</div>

<div class="conformidade-section">
    <div class="conformidade-content">

        <section class="conformidade-center">
            <p class="blue-sub-title">POLÍTICA DE COOKIES CSM TECNOLOGIA</p>
            <p class="dark-fullbody-text"><span class="bold-text">POR FAVOR, LEIA ATENTAMENTE ESTA POLÍTICA DE COOKIES ANTES DE UTILIZAR OS SERVIÇOS DA CSM TECNOLOGIA E DO PROJETO O BOM DOUTOR.</span></p>
            <p class="dark-fullbody-text">A presente Política de Cookies complementa a nossa Política de Privacidade, disponível em <a href="https://obomdoutor.com.br/politica-de-privacidade" target="_blank">https://obomdoutor.com.br/politica-de-privacidade</a>, e descreve como a CSM TECNOLOGIA E GESTÃO S.A (“nós”, “nosso” ou “nos”), por meio do projeto “O Bom Doutor”, utiliza cookies e tecnologias similares em seu website <a href="https://obomdoutor.com.br" target="_blank">https://obomdoutor.com.br</a> e aplicativo móvel (o “App”).</p>
            <p class="dark-fullbody-text">Ao continuar a navegar e utilizar os nossos Serviços, você concorda com o uso de cookies e outras tecnologias de rastreamento, de acordo com as disposições desta Política de Cookies. Caso não concorde, você poderá ajustar as configurações do seu navegador ou dispositivo para desativar os cookies, mas isso poderá afetar a funcionalidade dos nossos Serviços.</p>

        </section>

        <section>
            <p class="black-sub-title">1. O QUE SÃO COOKIES E TECNOLOGIAS SIMILARES?</p>
            <p class="dark-fullbody-text">Cookies são pequenos arquivos de texto ou fragmentos de informação que são armazenados no seu computador, smartphone, tablet ou outro dispositivo quando você visita o nosso website ou utiliza o nosso App. Eles contêm informações sobre a sua navegação e interações conosco.</p>
            <p class="dark-fullbody-text">Além dos cookies, utilizamos outras tecnologias de rastreamento com funcionalidades similares:</p>
            <ul>
                <li class="dark-fullbody-text"><span class="bold-text">Web Beacons (ou Pixel Tags): </span>Pequenas imagens gráficas (também conhecidas como “pixel tags” ou “clear GIFs”) que podem ser incluídas em nossos websites, aplicativos, e-mails ou comunicações, para coletar informações sobre o uso de nossos Serviços ou para nos informar se um e-mail foi aberto.</li>
            </ul>
            <p class="dark-fullbody-text"><span class="bold-text">Armazenamento Local: </span>Tecnologias como HTML5 Local Storage e IndexedDB, que permitem que websites armazenem dados diretamente no seu navegador ou dispositivo.</p>
            <ul>
                <li class="dark-fullbody-text"><span class="bold-text">Identificadores de Dispositivo: </span>Identificadores únicos atribuídos ao seu dispositivo móvel (por exemplo, ID de publicidade para Android ou iOS) que podem ser usados para rastrear o seu dispositivo para fins de publicidade e análise.</li>
            </ul>
        </section>

        <section>
            <p class="black-sub-title">2. QUEM SOMOS</p>
            <p class="dark-fullbody-text">Somos uma empresa especializada no <span class="bold-text">desenvolvimento de operações inovadoras por meio da tecnologia</span>, com foco nos setores de <span class="bold-text">saúde e educação</span>. Nosso propósito é oferecer soluções que promovam a melhoria contínua dos serviços nessas áreas, priorizando a <span class="bold-text">qualidade, a eficiência e a excelência operacional</span>.</p>
            <ul>
                <li class="dark-fullbody-text"><span class="bold-text">Funcionalidade Essencial: </span>Garantir o funcionamento adequado do nosso website e App, permitindo que você navegue, faça login e acesse recursos essenciais.</li>
                <li class="dark-fullbody-text"><span class="bold-text">Desempenho e Análise: </span>Entender como os usuários interagem com os nossos Serviços, coletando dados sobre as páginas mais visitadas, tempo de permanência, erros, e outras métricas de uso. Isso nos ajuda a otimizar o design, a performance e o conteúdo.</li>
                <li class="dark-fullbody-text"><span class="bold-text">Personalização: </span>Lembrar suas preferências e configurações, como idioma e localização, para oferecer uma experiência mais adaptada às suas necessidades.</li>
                <li class="dark-fullbody-text"><span class="bold-text">Segurança: </span>Ajudar a identificar e prevenir atividades fraudulentas e a proteger a sua conta e os nossos Serviços contra acesso não autorizado.</li>
                <li class="dark-fullbody-text"><span class="bold-text">Publicidade e Marketing: </span>Exibir anúncios relevantes para você com base nos seus interesses e no seu histórico de navegação (somente com o seu consentimento, conforme Seção 5 nossa Política de Privacidade, bem como medir a eficácia de nossas campanhas de marketing.</li>
                <li class="dark-fullbody-text"><span class="bold-text">Saúde Pública e Pesquisa (Dados Anonimizados/Pseudonimizados): </span>Contribuir com análises estatísticas para fins de saúde pública e pesquisa científica, sempre utilizando dados anonimizados ou pseudonimizados, de forma a preservar a sua identidade.</li>
            </ul>
        </section>

        <section>
            <p class="black-sub-title">3. TIPOS DE COOKIES QUE UTILIZAMOS</p>
            <p class="dark-fullbody-text">Classificamos os cookies que utilizamos com base em sua origem, duração e finalidade: </p>
            <section>
                <p class="dark-fullbody-text"><span class="bold-text">3.1. Quanto à Origem:</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Cookies Primários (First-Party Cookies): </span>São definidos por nós (CSM Tecnologia/O Bom Doutor) diretamente quando você visita o nosso website ou usa o nosso App. São essenciais para o funcionamento básico e a personalização dos Serviços.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Cookies de Terceiros (Third-Party Cookies): </span>São definidos por terceiros que fornecem serviços em nosso nome (como ferramentas de análise, publicidade, ou integrações de redes sociais). Esses terceiros podem coletar informações diretamente do seu navegador ou dispositivo por meio desses cookies. Nossa Política de Privacidade detalha os parceiros com os quais compartilhamos dados, sempre com as devidas garantias legais.</li>
                </ul>
            </section>
            <section>
                <p class="dark-fullbody-text"><span class="bold-text">3.2. Quanto à Duração:</span></p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Cookies de Sessão (Session Cookies): </span>São temporários e expiram quando você fecha o navegador ou encerra a sessão no App. São usados para armazenar informações durante uma única sessão de uso.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Cookies Persistentes (Persistent Cookies): </span>Permanecem no seu dispositivo por um período definido ou até que você os exclua manualmente. São usados para lembrar suas preferências, para fins de autenticação e para análises de longo prazo.</li>
                </ul>
            </section>
            <section>
                <p class="dark-fullbody-text"><span class="bold-text">3.3. Quanto à Finalidade:</span></p>
                <p class="dark-fullbody-text">Em conformidade com a LGPD e as melhores práticas, categorizamos os cookies da seguinte forma: </p>
                <p class="dark-fullbody-text"><span class="bold-text">a) Cookies Essenciais (Estritamente Necessários):</span> Esses cookies são fundamentais para o funcionamento básico do nosso website e App e não podem ser desativados em nossos sistemas, pois sem eles, os Serviços não funcionam corretamente. Eles geralmente são definidos em resposta às suas ações, como definir suas preferências de privacidade, fazer login ou preencher formulários. </p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade: </span>Autenticação, segurança, gerenciamento de sessão, balanceamento de carga.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal: </span>Execução de Contrato (Art. 7, V, LGPD) e Legítimo Interesse (Art. 7, IX, LGPD) na garantia da segurança e funcionalidade dos Serviços.</li>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text"> b) Cookies de Desempenho e Análise: </span> Esses cookies nos permitem coletar informações sobre como os usuários utilizam nossos Serviços, como as páginas que você visita, os links em que clica e o tempo de permanência. Eles nos ajudam a melhorar o desempenho e a usabilidade dos nossos Serviços. As informações coletadas são geralmente agregadas e anônimas.</p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade: </span>Métricas de uso, relatórios de erros, otimização de conteúdo, análise de tráfego.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal: </span>Consentimento (Art. 7, I, LGPD). Você pode gerenciar suas preferências para esses cookies (vide Seção 4).</li>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">c) Cookies de Funcionalidade: </span> Esses cookies permitem que nossos Serviços se lembrem de escolhas que você faz (como seu nome de usuário, idioma ou região) e forneçam recursos aprimorados e mais personalizados. Eles podem ser definidos por nós ou por provedores de terceiros cujos serviços adicionamos às nossas páginas. </p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade: </span>Personalização da experiência do usuário, lembrar configurações, fornece recursos avançados.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal: </span>Consentimento (Art. 7, I, LGPD) e, em alguns casos, Legítimo Interesse (Art. 7, IX, LGPD) quando a personalização é mínima e diretamente benéfica para a sua experiência essencial. Você pode gerenciar suas preferências para esses cookies (vide Seção 4).</li>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">d) Cookies de Publicidade e Marketing: </span> Esses cookies são usados para coletar informações sobre seus hábitos de navegação e para exibir anúncios mais relevantes para você. Eles são frequentemente usados por empresas de publicidade para construir um perfil de seus interesses e exibir anúncios em outros sites. </p>
                <ul>
                    <li class="dark-fullbody-text"><span class="bold-text">Finalidade: </span>Publicidade direcionada, remarketing, medição de campanhas publicitárias.</li>
                    <li class="dark-fullbody-text"><span class="bold-text">Base Legal: </span>Consentimento (Art. 7, I, LGPD). NUNCA utilizaremos seus dados de saúde para fins de publicidade direcionada sem seu consentimento explícito e específico para essa finalidade, sempre com anonimização ou Pseudonimização. Você pode gerenciar suas preferências para esses cookies (vide Seção 4). Nota: Anonimização significa transformar os dados de forma que não seja mais possível identificar a pessoa a quem pertencem. Pseudonimização significa substituir informações que identificam diretamente o usuário (como nome ou CPF) por códigos ou identificadores fictícios, permitindo o uso dos dados em análises sem revelar a identidade do titular.</li>
                </ul>
                <p class="dark-fullbody-text"><span class="bold-text">e) Tabela Resumo de Cookies Utilizados:</span></p>
<section class="cookie-table-section">
  <table class="cookie-table">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Exemplo de Cookie</th>
        <th>Finalidade</th>
        <th>Duração</th>
        <th>Origem</th>
      </tr>
    </thead>

    <tbody>
      <tr class="row-odd">
        <td>Essenciais</td>
        <td>cookie_notice_accepted</td>
        <td>
          Armazenar a escolha do visitante sobre o uso de cookies,
          evitando que o aviso apareça a cada visita, além de garantir
          login seguro, navegação estável e funcionalidades básicas do site.
        </td>
        <td>3 meses</td>
        <td>
          Site (plugin Cookie Notice & Compliance for GDPR/CCPA)
        </td>
      </tr>

      <tr class="row-even">
        <td>Desempenho e Análise</td>
        <td>ga, _gid (Google Analytics)</td>
        <td>
          Medir tráfego, identificar páginas mais acessadas e otimizar
          desempenho.
        </td>
        <td>24h a 2 anos</td>
        <td>Google (Third-Party)</td>
      </tr>

      <tr class="row-odd">
        <td>Funcionalidade</td>
        <td>lang_pref</td>
        <td>Memorizar idioma e preferências do usuário.</td>
        <td>6 meses</td>
        <td>CSM Tecnologia (First-Party)</td>
      </tr>

      <tr class="row-even">
        <td>Publicidade e Marketing</td>
        <td>IDE, _fbp</td>
        <td>
          Exibir anúncios personalizados e medir eficácia de campanhas.
        </td>
        <td>90 dias a 1 ano</td>
        <td>Google / Facebook (Third-Party)</td>
      </tr>
    </tbody>
  </table>
</section>


            </section>
        </section>

        <section>
            <p class="black-sub-title">4. COMO GERENCIAR SUAS PREFERÊNCIAS DE COOKIES</p>
            <p class="dark-fullbody-text">Você tem controle sobre os cookies e tecnologias de rastreamento que utilizamos. Você pode gerenciar suas preferências de várias maneiras:</p>
            <p class="dark-fullbody-text"><span class="bold-text">4.1. Central de Preferências de Privacidade (Consent Management Platform – CMP):</span></p>
            <p class="dark-fullbody-text">No seu primeiro acesso ao nosso website, ou a qualquer momento por meio de um link visível (geralmente no rodapé do site), você poderá acessar nossa Central de Preferências de Privacidade. Nela, você pode optar por aceitar ou rejeitar categorias específicas de cookies (exceto os estritamente necessários) e revisar os detalhes de cada um. Recomendamos utilizar essa ferramenta para um controle mais granular.</p>
            <p class="dark-fullbody-text"><span class="bold-text">4.2. Configurações do Navegador:</span></p>
            <p class="dark-fullbody-text">A maioria dos navegadores de internet permite controlar a maioria dos cookies através das suas configurações. Você pode configurar seu navegador para:</p>
            <ul>
                <li class="dark-fullbody-text">Aceitar todos os cookies.</li>
                <li class="dark-fullbody-text">Rejeitar todos os cookies.</li>
                <li class="dark-fullbody-text">Notificá-lo quando um cookie for enviado.</li>
                <li class="dark-fullbody-text">Lembre-se que, ao desativar certos cookies, a funcionalidade de algumas partes dos nossos Serviços pode ser afetada. Para saber como gerenciar cookies no seu navegador, consulte os links dos respectivos navegadores (exemplos para os navegadores mais comuns): (i) Google Chrome, (ii) Mozilla Firefox, (iii) Microsoft Edge, (iv) Safari.</li>
            </ul>
            <p class="dark-fullbody-text"><span class="bold-text">4.3. Configurações do Dispositivo Móvel:</span></p>
            <p class="dark-fullbody-text">Para desativar identificadores de publicidade em seu dispositivo móvel, siga as instruções do fabricante:</p>
            <ul>
                <li class="dark-fullbody-text">Android: Vá em Configurações > Google > Anúncios > Redefinir ID de publicidade ou desativar personalização de anúncios.</li>
                <li class="dark-fullbody-text">iOS: Vá em Ajustes > Privacidade e Segurança > Rastreamento > Desativar “Permitir que apps solicitem rastreamento”.</li>
            </ul>
        </section>

        <section>
            <p class="black-sub-title">5. COOKIES DE TERCEIROS UTILIZADOS</p>
            <p class="dark-fullbody-text">Abaixo, listamos alguns dos principais serviços de terceiros que podem utilizar cookies e tecnologias similares em nossos Serviços. Esta lista não é exaustiva, pois os serviços podem ser atualizados. Recomendamos que você consulte as políticas de privacidade e cookies desses terceiros para obter informações detalhadas sobre suas práticas.</p>
            <ul>
                <li class="dark-fullbody-text">Google Analytics: Para análise de tráfego e comportamento do usuário no website.</li>
                <li class="dark-fullbody-text">Política de Privacidade do Google</li>
                <li class="dark-fullbody-text">Google Ads / Google Marketing Platform: Para publicidade e medição de eficácia de campanhas.</li>
                <li class="dark-fullbody-text">Política de Privacidade do Google.</li>
                <li class="dark-fullbody-text">Firebase (Google): Para análise de uso do App e relatórios de falhas.</li>
                <li class="dark-fullbody-text">Política de Privacidade do Firebase.</li>
                <li class="dark-fullbody-text">Adjust GmbH: Para medição de instalação de aplicativos e desempenho de campanhas de marketing.</li>
                <li class="dark-fullbody-text">Política de Privacidade da Adjust</li>
                <li class="dark-fullbody-text">Sentry (Functional Software Inc.): Para monitoramento de erros e desempenho do software.</li>
                <li class="dark-fullbody-text">Política de Privacidade da Sentry</li>
                <li class="dark-fullbody-text">Sumo Logic: Para gerenciamento e análise de logs de segurança e desempenho.</li>
                <li class="dark-fullbody-text">Declaração de Privacidade da Sumo Logic.</li>
                <li class="dark-fullbody-text">Honeycomb (Hound Technology, Inc.): Para observabilidade e análise de telemetria.</li>
                <li class="dark-fullbody-text">Política de Privacidade da Honeycomb.</li>
                <li class="dark-fullbody-text">Trabalhamos apenas com terceiros que oferecem garantias de conformidade com a LGPD e que assinam conosco acordos de processamento de dados para garantir a proteção das suas informações.</li>
            </ul>
        </section>

        <section>
            <p class="black-sub-title">6. REVISÃO E ATUALIZAÇÕES</p>
            <p class="dark-fullbody-text">Esta política será revisada anualmente, ou sempre que houver alterações relevantes no uso de cookies e tecnologias similares. Alterações significativas serão comunicadas por e-mail, notificação no App ou aviso em destaque em nosso website, a tabela de cookies será revisada trimestralmente ou sempre que houver atualização nos cookies utilizados.</p>
        </section>

        <section>
            <p class="black-sub-title">7. CONTATO</p>
            <p class="dark-fullbody-text">Se você tiver dúvidas sobre nossa Política de Cookies, entre em contato com nosso Encarregado de Dados (DPO):</p>
            <p class="dark-fullbody-text"><span class="bold-text">CSM TECNOLOGIA E GESTÃO S.A.</span></p>
            <p class="dark-fullbody-text"><span class="bold-text">CNPJ: </span>55.196.025/0001-02</p>
            <p class="dark-fullbody-text"><span class="bold-text">Endereço: </span>Avenida Paulista, 1471, sala 1110, Bela Vista, São Paulo/SP – CEP 01311-927</p>
            <p class="dark-fullbody-text"><span class="bold-text">E-mail Institucional: </span><a href="mailto:contato@csmtec.com.br">contato@csmtec.com.br</a></p>
            <p class="dark-fullbody-text"><span class="bold-text">E-mail específico para LGPD: </span><a href="mailto:dpo@csmtec.com.br">dpo@csmtec.com.br</a></p>
            <p class="dark-fullbody-text"><span class="bold-text">Website: </span><a href="/">www.csmtec.com.br</a></p>


        </section>


    </div>
</div>  

</Layout>









<style>
  .cookie-table-section {
    width: 100%;
    overflow-x: auto;
    margin: 1rem 0;
    color: var(--dark-gray);

  }

  .cookie-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background: #f4f4f4;
  }

  .cookie-table th,
  .cookie-table td {
    border: 1px solid #d0d0d0;
    padding: 1.5rem;
    text-align: left;
    vertical-align: top;
    line-height: 1.6;
  }

  .cookie-table th {
    background: #ececec;
    font-weight: 700;
  }

  .cookie-table tbody tr {
    transition: background-color 0.3s ease;
  }

  .cookie-table tbody tr:hover {
    background-color: #e0e0e0;
  }

  .row-even{
background-color: rgb(255, 255, 255);
  }

  .row-odd{
background-color: rgb(235, 235, 235);
  }

  /* Mobile */
  @media (max-width: 768px) {
    .cookie-table {
      min-width: 800px;
    }
  }
</style>