---
import '../style/GlobalStyle.css';
import '../style/contactStyle.css';

import Layout from '../layouts/Layout.astro';
import FormImage from '../assets/contato/entreemcontato.webp';

import ContactForm from "../components/function/ContactForm.astro";

---

<Layout title="Seja um Colaborador - CSM TEC">
<div class="contact-banner">
    <div class="contact-banner-content">
        <p class="white-hero">Seja um Colaborador</p>
    </div>
</div>

<section class="form-section">
	<div class="form-container">
		<div class="form-content">
			<p class="blue-sub-title">Seja um Colaborador</p>
			<p class="black-title">Entre em contato</p>
			<p class="dark-text">Faça parte da nossa equipe e contribua para transformar ideias em soluções inovadoras!</p>
        <section>
            <ContactForm />
        </section>






        </div>		
        <div class="form-content">
			<img src={FormImage.src} alt="contato" />
		</div>
	</div>
</section>


</Layout>
