 html, body {
  margin: 0;
  padding: 0;
    zoom: 0.96;
}

:root {
  --primary-black: #000000;
  --primary-white: #ffffff;
  --primary-blue: #1656a5;
  --light-gray: #e0e0e0;
  --dark-gray: #4d4d4d;
  --link-blue: #1a73e8;

  --title-size: 3rem;
  --title-height: 3.5rem;
  --subtitle-size: 1.2rem;
  --calling-text:1.4rem;
  --text-size: 1rem;
  --fullbody-text-size: 1.19rem;
}

 html p, th, td{
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
font-family: Arial, sans-serif;
}

html a{
    text-decoration: none;
    color: var(--link-blue);
}

html a:hover {
    color: var(--primary-blue);
}

li {
font-family: Arial, sans-serif;
}

  .white-hero {
    font-size: 5rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  }

.black-title{
    color: var(--primary-black);
    font-size: var(--title-size);
    line-height: var(--title-height);
    font-weight: 900;
}

.white-title{
    color: var(--primary-white);
    font-size: var(--title-size);
    line-height: var(--title-height);
    font-weight: 900;
}

.black-mid-title{
    color: var(--primary-black);
    font-size: var(--calling-text);
    font-weight: bold;
}

.white-sub-title{
    color: var(--primary-white);
    font-size: var(--subtitle-size);
    margin-top: 0.5em;
    font-weight: bold;
}

.blue-sub-title{
    color: var(--primary-blue);
    font-size: var(--subtitle-size);
    margin-top: 0.5em;
    font-weight: bold;
}

.black-sub-title{
    color: var(--primary-black);
    font-size: var(--subtitle-size);
    margin-top: 0.5em;
    font-weight: bold;
}

.light-text{
    color: var(--light-gray);
    font-size: var(--text-size);
    line-height: 1.4rem;
}

.dark-text{
    color: var(--dark-gray);
    font-size: var(--text-size);
    line-height: 1.4rem;
}

.dark-fullbody-text{
    color: var(--dark-gray);
    font-size: var(--fullbody-text-size);
    line-height: 1.6rem;
}

.light-fullbody-text{
    color: var(--light-gray);
    font-size: var(--fullbody-text-size);
    line-height: 1.6rem;
}

.bold-text{
    font-weight: bold;
}