
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
  background-image: url('../assets/heroBG.jpg');
    background-size: cover;
    background-position: center;
}

.hero-container{
    padding: 7rem 0rem 4rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    max-width: 50rem;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.sobre-container{
    max-width: 75rem;
    padding: 5rem 0;
}

.sobre-upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sobre-upper-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
max-width: 37rem;
}

.sobre-upper-right{
    display: flex;
    flex-direction: column;
max-width: 37rem;
padding-bottom: 5rem;
}

.sobre-lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 5rem;
}

.sobre-box{
    width: 100%;
    max-width: 23rem;
    min-height: 14rem;

    border: var(--primary-blue) solid 2.5px;
    border-radius: 12px;
    padding: 2rem 1rem;
    gap: 1rem;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sobre-box img{
    width: 4rem;
    height: 4rem;
    padding-bottom: 1rem;
}

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: rgb(244, 244, 244);
}

.servicos-container{
    max-width: 75rem;
    padding: 5rem 0;
}

.servicos-upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.servicos-lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.servicos-box{
    width: 100%;
    max-width: 23rem;
    min-height: 18.5rem;

    border: var(--primary-black) solid 2.5px;
    border-radius: 12px;
    padding: 1.5rem 1rem 1rem;
    gap: 1rem;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.servicos-box img{
    width: 2rem;
    height: 2rem;
}

  /* XXXXXXXXXX DIFERENCIAL XXXXXXXXXX */


.diferencial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.diferencial-container{
    max-width: 75rem;
    padding: 5rem 0;
}

.diferencial-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

.diferencial-row-left, .diferencial-row-left-2{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 37rem;
}

.diferencial-row-right, .diferencial-row-right-2{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 37rem;
}

.diferencial-points{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 0.5rem;
}

.diferencial-points img{
    width: 1.5rem;
    height: 1.5rem;
}

.diferencial-idea{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
}

.diferencial-idea img{
    width: 2rem;
    height: auto;
}

.diferencial-motivos {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 2.4rem;
}


.diferencial-motivos-box p{
padding: 0;
margin: 0;
}

/* =========================
   TABLET
========================= */
@media (max-width: 1140px) {

  .hero-container {
    width: 90%;
  }

  .sobre-upper-left, .diferencial-row-left, .diferencial-row-right-2{
    display: none;
  }

  .sobre-upper-right, .diferencial-row-right, .diferencial-row-left-2, .servicos-upper{
    max-width: 100%;
    padding: 0 4rem;
    text-align: left;
    align-items: left;
    justify-content: center;
  }

.sobre-lower, .servicos-lower {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 4rem;
  }

     .sobre-box, .servicos-box{
    max-width: 26rem;
     }


}


/* =========================
   MOBILE
========================= */
@media (max-width: 768px) {

  .hero-container {
    width: 90%;
    padding: 5rem 0 3rem;
    text-align: center;
    align-items: center;
  }

    .sobre-upper-right, .diferencial-row-right, .diferencial-row-left-2, .servicos-upper{
    padding: 0 2rem;

  }
    .servicos-lower, .sobre-lower{
    padding: 0 2rem;
  }
     .sobre-box, .servicos-box{
    max-width: 100%;
     }

}

  

/* =========================
   SMALL MOBILE
========================= */
@media (max-width: 480px) {

  .hero-container {
    width: 95%;
    padding: 4rem 0 2rem;
  }
}

  